body {
  background: ghostwhite;
}
header {
  background-color: ghostwhite;
  border: 2px solid dodgerblue;
  /* background-color: rgb(100, 204, 109); */
  border-radius: 4rem;
  padding-left: 1%;
  padding-top: 0.5%;
  height: 4%;
  width: 100%;
}
/* .is-success {
  background-color: ghostwhite;
  border: 1px solid rgb(100, 205, 109);
  color: rgb(100, 205, 109);
} */
.logo {
  height: 40px;
  width: 40px;
}
p {
  color: dodgerblue;
  font-size: 1.2rem;
}
.title {
  color: dodgerblue;
}
  /* .container {
    width: 90%;
  } */
  /* arrow icon courtesy of findicons.com */
.arrow {
  height: 15px;
  width: 20px;
}



  @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      .content {
        display: block;
      }


  }
