
body {
  background: ghostwhite;
}
header {
  background-color: dodgerblue;
  border-top: 2px solid ghostwhite;

  /* border-radius: 4rem; */
  padding-left: 1%;
  padding-top: 1.5%;
  height: 4%;
  width: 100%;
}
/* .is-success {
  background-color: ghostwhite;
  border: 1px solid rgb(100, 205, 109);
  color: rgb(100, 205, 109);
} */
.add {
  border-radius: 50%;
  font-weight: bold;
  height: 42px;
  width: 42px;
}
.plus {
  font-size: 40px;
  margin-top: -21px;
  font-weight: bold;
}
.logo {
  height: 40px;
  width: 40px;
}
p {
  color: dodgerblue;
  font-size: 1.2rem;
  padding-left: 2.8rem;
}
.title {
  color: ghostwhite;
}
  /* .container {
    width: 90%;
  } */
  /* arrow icon courtesy of findicons.com */
.arrow {
  height: 15px;
  width: 20px;
}
<<<<<<< HEAD
.container {
  background-color: rgb(140, 208, 208);
=======
.btn-delete {
  margin-left: 72%;
  margin-top: -45px;
>>>>>>> e722b07afa294559459315f98355318fcdf3edd6
}



  @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      .content {
        display: block;
        width: 100%;
      }

  }
